body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    padding: 20px;
    max-width: 400px;
    margin: auto;
}

h1 {
    text-align: center;
}

.subtitle {
    text-align: center;
    color: #666;
}

label {
    display: block;
    margin-top: 15px;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
}

button {
    margin-top: 20px;
    background: #4a6cf7;
    color: white;
    border: none;
    border-radius: 5px;
}

#result {
    margin-top: 20px;
    background: white;
    padding: 15px;
    border-radius: 5px;
}
img {
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
